## Processing Scraped NBA Data

In [137]:
import pandas as pd
import numpy as np
import os

In [138]:
#Import data and remove irrelevant columns
file = 'C:\\Users\\Chung-Tseng Wang\\Desktop\\Github Repo\\Predicting-NBA-Rookie-Stats\\data\\raw\\nba_stats_raw.csv'
#file = '//Users//chung-tsengwang//Desktop//Github Repo//Predicting-NBA-Rookie-Stats//data//raw//nba_stats_raw.csv'
nba = pd.read_csv(file)
nba = nba.drop(['Debut','MP','FG','FGA','3P','FT','FTA','ORB','TRB','AST','PF'],axis = 1)
nba.head()

,year,Player,id,Age,Yrs,G,3PA,STL,BLK,TOV,PTS,FG%,3P%,FT%,MP.1,PS/G,TRB/G,AST/G
0,2019,Jaylen Adams,adamsja01,22,1,34,74,14,5,28,108,0.345,0.338,0.778,12.6,3.2,1.8,1.9
1,2019,Deng Adel,adelde01,21,1,19,23,1,4,6,32,0.306,0.261,1.000,10.2,1.7,1.0,0.3
2,2019,DeVaughn Akoon-Purcell,akoonde01,25,1,7,4,2,0,2,7,0.300,0.000,0.500,3.1,1.0,0.6,0.9
3,2019,Rawle Alkins,alkinra01,21,1,10,12,1,0,8,37,0.333,0.250,0.667,12.0,3.7,2.6,1.3
4,2019,Grayson Allen,allengr01,23,1,38,99,6,6,33,211,0.376,0.323,0.750,10.9,5.6,0.6,0.7

In [139]:
#Calculate steals, blocks, and turnover per game
nba['STL/G'] = nba['STL'] / nba['G']
nba['BLK/G'] = nba['BLK'] / nba['G']
nba['TOV/G'] = nba['TOV'] / nba['G']
nba = nba.drop(['Yrs','3PA','STL','BLK','TOV','PTS','MP.1','id'], axis = 1)
nba.head()

,year,Player,Age,G,FG%,3P%,FT%,PS/G,TRB/G,AST/G,STL/G,BLK/G,TOV/G
0,2019,Jaylen Adams,22,34,0.345,0.338,0.778,3.2,1.8,1.9,0.411765,0.147059,0.823529
1,2019,Deng Adel,21,19,0.306,0.261,1.000,1.7,1.0,0.3,0.052632,0.210526,0.315789
2,2019,DeVaughn Akoon-Purcell,25,7,0.300,0.000,0.500,1.0,0.6,0.9,0.285714,0.000000,0.285714
3,2019,Rawle Alkins,21,10,0.333,0.250,0.667,3.7,2.6,1.3,0.100000,0.000000,0.800000
4,2019,Grayson Allen,23,38,0.376,0.323,0.750,5.6,0.6,0.7,0.157895,0.157895,0.868421

In [140]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 13 columns):
year      892 non-null int64
Player    892 non-null object
Age       892 non-null int64
G         892 non-null int64
FG%       885 non-null float64
3P%       809 non-null float64
FT%       830 non-null float64
PS/G      892 non-null float64
TRB/G     892 non-null float64
AST/G     892 non-null float64
STL/G     892 non-null float64
BLK/G     892 non-null float64
TOV/G     892 non-null float64
dtypes: float64(9), int64(3), object(1)
memory usage: 90.7+ KB

In [141]:
nba.describe()

,year,Age,G,FG%,3P%,FT%,PS/G,TRB/G,AST/G,STL/G,BLK/G,TOV/G
count,892.000000,892.000000,892.000000,885.000000,809.000000,830.000000,892.000000,892.000000,892.000000,892.000000,892.000000,892.000000
mean,2014.576233,22.394619,176.522422,0.424284,0.283958,0.710528,6.112108,2.755942,1.331951,0.502463,0.314686,0.877862
std,3.160115,2.214911,195.737205,0.107532,0.137368,0.150213,4.572743,1.998254,1.324058,0.352847,0.356438,0.643992
min,2009.000000,19.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2012.000000,21.000000,24.750000,0.387000,0.238000,0.644750,2.900000,1.400000,0.500000,0.250000,0.079928,0.440508
50%,2015.000000,22.000000,94.000000,0.429000,0.319000,0.738000,5.100000,2.300000,0.900000,0.435573,0.209730,0.754005
75%,2018.000000,24.000000,270.000000,0.473000,0.359000,0.800000,8.000000,3.600000,1.800000,0.694420,0.431773,1.154541
max,2019.000000,35.000000,821.000000,1.000000,1.000000,1.000000,24.300000,13.700000,9.200000,1.925703,2.439394,4.051157

In [142]:
nba.isnull().sum()

year       0
Player     0
Age        0
G          0
FG%        7
3P%       83
FT%       62
PS/G       0
TRB/G      0
AST/G      0
STL/G      0
BLK/G      0
TOV/G      0
dtype: int64

In [143]:
nba['FG%'].fillna((nba['FG%'].mean()),inplace = True)
nba['3P%'].fillna((nba['3P%'].mean()),inplace = True)
nba['FT%'].fillna((nba['FT%'].mean()),inplace = True)
nba.head()

,year,Player,Age,G,FG%,3P%,FT%,PS/G,TRB/G,AST/G,STL/G,BLK/G,TOV/G
0,2019,Jaylen Adams,22,34,0.345,0.338,0.778,3.2,1.8,1.9,0.411765,0.147059,0.823529
1,2019,Deng Adel,21,19,0.306,0.261,1.000,1.7,1.0,0.3,0.052632,0.210526,0.315789
2,2019,DeVaughn Akoon-Purcell,25,7,0.300,0.000,0.500,1.0,0.6,0.9,0.285714,0.000000,0.285714
3,2019,Rawle Alkins,21,10,0.333,0.250,0.667,3.7,2.6,1.3,0.100000,0.000000,0.800000
4,2019,Grayson Allen,23,38,0.376,0.323,0.750,5.6,0.6,0.7,0.157895,0.157895,0.868421

In [144]:
nba.isnull().sum()

year      0
Player    0
Age       0
G         0
FG%       0
3P%       0
FT%       0
PS/G      0
TRB/G     0
AST/G     0
STL/G     0
BLK/G     0
TOV/G     0
dtype: int64

In [145]:
from unidecode import unidecode
nba['Player'] = nba['Player'].apply(unidecode)
nba.head()

,year,Player,Age,G,FG%,3P%,FT%,PS/G,TRB/G,AST/G,STL/G,BLK/G,TOV/G
0,2019,Jaylen Adams,22,34,0.345,0.338,0.778,3.2,1.8,1.9,0.411765,0.147059,0.823529
1,2019,Deng Adel,21,19,0.306,0.261,1.000,1.7,1.0,0.3,0.052632,0.210526,0.315789
2,2019,DeVaughn Akoon-Purcell,25,7,0.300,0.000,0.500,1.0,0.6,0.9,0.285714,0.000000,0.285714
3,2019,Rawle Alkins,21,10,0.333,0.250,0.667,3.7,2.6,1.3,0.100000,0.000000,0.800000
4,2019,Grayson Allen,23,38,0.376,0.323,0.750,5.6,0.6,0.7,0.157895,0.157895,0.868421

In [146]:
nba = nba.rename(columns = {'G':'NBA_G','FG%':'NBA_FGP','3P%':'NBA_3PP','FT%':'NBA_FTP','PS/G':'NBA_PTS','TRB/G':'NBA_TRB','AST/G':'NBA_AST','STL/G':'NBA_STL','BLK/G':'NBA_BLK','TOV/G':'NBA_TOV'})
nba.head()

,year,Player,Age,NBA_G,NBA_FGP,NBA_3PP,NBA_FTP,NBA_PTS,NBA_TRB,NBA_AST,NBA_STL,NBA_BLK,NBA_TOV
0,2019,Jaylen Adams,22,34,0.345,0.338,0.778,3.2,1.8,1.9,0.411765,0.147059,0.823529
1,2019,Deng Adel,21,19,0.306,0.261,1.000,1.7,1.0,0.3,0.052632,0.210526,0.315789
2,2019,DeVaughn Akoon-Purcell,25,7,0.300,0.000,0.500,1.0,0.6,0.9,0.285714,0.000000,0.285714
3,2019,Rawle Alkins,21,10,0.333,0.250,0.667,3.7,2.6,1.3,0.100000,0.000000,0.800000
4,2019,Grayson Allen,23,38,0.376,0.323,0.750,5.6,0.6,0.7,0.157895,0.157895,0.868421

In [147]:
nba.to_csv('processed_nba.csv',index = True)

## Processing Scraped College Data

In [148]:
file = 'C:\\Users\\Chung-Tseng Wang\\Desktop\\NBA-Rookie-Stat-Predictions\\data\\raw\\combined_college_stats.csv'
#file = '//Users//chung-tsengwang//Desktop//Github Repo//Predicting-NBA-Rookie-Stats//data//raw//college_stats_raw.csv'
college = pd.read_csv(file)
college.head()

,2P,2PA,2PP,3P,3P%,3PA,AST,BLK,DRB,FG,...,SOS,STL,School,TOV,TRB,year,Position,eFGP,PER,WS
0,2.4,5.1,0.467,2.5,0.394,6.2,5.4,0.2,2.8,4.8,...,1.82,1.5,St. Bonaventure,2.9,3.4,2019,Guard,53.5,21.5,17.7
1,2.8,5.7,0.489,1.1,0.348,3.3,2.0,0.3,3.5,3.9,...,9.32,0.5,Louisville,1.7,4.1,2019,Forward,50.1,16.2,8.0
2,3.8,8.0,0.472,0.8,0.301,2.7,1.6,0.3,3.6,4.6,...,2.73,1.0,Illinois State,2.3,5.3,2019,Guard,46.7,19.7,5.7
3,2.8,5.5,0.505,1.3,0.365,3.5,2.2,0.6,3.2,4.0,...,7.24,1.0,Arizona,2.1,4.9,2019,Guard,52.1,18.0,6.3
4,2.2,4.5,0.490,2.0,0.380,5.4,3.0,0.1,2.6,4.3,...,10.27,1.0,Duke,1.7,3.2,2019,Guard,53.3,21.4,18.8

In [149]:
college.describe()

,2P,2PA,2PP,3P,3P%,3PA,AST,BLK,DRB,FG,...,ORB,PTS,SOS,STL,TOV,TRB,year,eFGP,PER,WS
count,827.000000,827.000000,825.000000,827.000000,773.000000,827.000000,827.000000,827.000000,793.000000,827.000000,...,793.000000,827.000000,758.000000,827.000000,802.000000,827.000000,827.000000,820.000000,705.000000,822.000000
mean,3.269770,6.314510,0.511828,0.946433,0.332212,2.631076,2.033374,0.725877,3.687894,4.212696,...,1.522951,11.962636,5.647639,0.963241,1.883666,5.104716,2014.788392,52.170610,16.803262,10.295255
std,1.405775,2.541831,0.066182,0.788213,0.121951,2.039570,1.457326,0.716247,1.419918,1.521133,...,0.868851,4.426671,4.699540,0.498742,0.724992,2.203555,3.294645,5.765863,7.526231,5.657805
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-11.930000,0.000000,0.000000,0.000000,2009.000000,0.000000,-0.100000,-0.100000
25%,2.300000,4.600000,0.479000,0.200000,0.302000,0.850000,1.000000,0.200000,2.700000,3.400000,...,0.800000,9.400000,3.842500,0.600000,1.400000,3.500000,2012.000000,49.200000,12.200000,6.000000
50%,3.200000,6.200000,0.508000,0.900000,0.349000,2.500000,1.700000,0.500000,3.400000,4.300000,...,1.400000,12.200000,7.315000,0.900000,1.800000,4.800000,2015.000000,52.300000,18.500000,10.250000
75%,4.200000,8.100000,0.547000,1.500000,0.380000,4.200000,2.800000,1.000000,4.600000,5.100000,...,2.200000,14.800000,8.500000,1.200000,2.300000,6.500000,2018.000000,55.100000,21.700000,14.500000
max,8.400000,16.000000,0.747000,4.000000,1.000000,10.300000,8.700000,5.400000,8.600000,9.900000,...,4.700000,27.500000,12.750000,2.900000,5.400000,12.400000,2020.000000,72.800000,40.800000,28.500000

In [150]:
college.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 827 entries, 0 to 826
Data columns (total 31 columns):
2P          827 non-null float64
2PA         827 non-null float64
2PP         825 non-null float64
3P          827 non-null float64
3P%         773 non-null float64
3PA         827 non-null float64
AST         827 non-null float64
BLK         827 non-null float64
DRB         793 non-null float64
FG          827 non-null float64
FGA         827 non-null float64
FGP         826 non-null float64
FT          827 non-null float64
FTA         827 non-null float64
FTP         825 non-null float64
G           827 non-null int64
GS          800 non-null float64
MP          800 non-null float64
ORB         793 non-null float64
PTS         827 non-null float64
Player      827 non-null object
SOS         758 non-null float64
STL         827 non-null float64
School      827 non-null object
TOV         802 non-null float64
TRB         827 non-null float64
year        827 non-null int64
Position    827 non-null object
eFGP        820 non-null float64
PER         705 non-null float64
WS          822 non-null float64
dtypes: float64(26), int64(2), object(3)
memory usage: 200.4+ KB

In [151]:
college.isnull().sum()

2P            0
2PA           0
2PP           2
3P            0
3P%          54
3PA           0
AST           0
BLK           0
DRB          34
FG            0
FGA           0
FGP           1
FT            0
FTA           0
FTP           2
G             0
GS           27
MP           27
ORB          34
PTS           0
Player        0
SOS          69
STL           0
School        0
TOV          25
TRB           0
year          0
Position      0
eFGP          7
PER         122
WS            5
dtype: int64

In [152]:
null_list = ['2PP', '3P%', 'DRB','FGP','GS','MP','ORB','SOS','TOV','eFGP','PER','WS']
for n in null_list:
    college[n] = college[n].fillna(college[n].mean())
#college.fillna(college.mean, inplace = True)

In [153]:
college.isnull().sum()

2P          0
2PA         0
2PP         0
3P          0
3P%         0
3PA         0
AST         0
BLK         0
DRB         0
FG          0
FGA         0
FGP         0
FT          0
FTA         0
FTP         2
G           0
GS          0
MP          0
ORB         0
PTS         0
Player      0
SOS         0
STL         0
School      0
TOV         0
TRB         0
year        0
Position    0
eFGP        0
PER         0
WS          0
dtype: int64

In [154]:
college['Player'] = college['Player'].apply(unidecode)
college.head()

,2P,2PA,2PP,3P,3P%,3PA,AST,BLK,DRB,FG,...,SOS,STL,School,TOV,TRB,year,Position,eFGP,PER,WS
0,2.4,5.1,0.467,2.5,0.394,6.2,5.4,0.2,2.8,4.8,...,1.82,1.5,St. Bonaventure,2.9,3.4,2019,Guard,53.5,21.5,17.7
1,2.8,5.7,0.489,1.1,0.348,3.3,2.0,0.3,3.5,3.9,...,9.32,0.5,Louisville,1.7,4.1,2019,Forward,50.1,16.2,8.0
2,3.8,8.0,0.472,0.8,0.301,2.7,1.6,0.3,3.6,4.6,...,2.73,1.0,Illinois State,2.3,5.3,2019,Guard,46.7,19.7,5.7
3,2.8,5.5,0.505,1.3,0.365,3.5,2.2,0.6,3.2,4.0,...,7.24,1.0,Arizona,2.1,4.9,2019,Guard,52.1,18.0,6.3
4,2.2,4.5,0.490,2.0,0.380,5.4,3.0,0.1,2.6,4.3,...,10.27,1.0,Duke,1.7,3.2,2019,Guard,53.3,21.4,18.8

In [155]:
college.to_csv('combined_processed_college.csv',index = False)

In [156]:
college_2020 = college[college['year'] == 2020]
college_2020.to_csv('college_2020_processed.csv', index = False)
college_past = college[college['year'] != 2020]
college_past.to_csv('college_past_processed.csv', index = False)

In [165]:
file = 'C:\\Users\\Chung-Tseng Wang\\Desktop\\NBA-Rookie-Stat-Predictions\\data\\Web Scraper\\International_stats\\processed_inter.csv'
#file = '//Users//chung-tsengwang//Desktop//Github Repo//Predicting-NBA-Rookie-Stats//data//Web Scraper//International_stats//processed_inter.csv'
inter = pd.read_csv(file)
inter.head()

,Player,MP,FG,FGA,FGP,3P,3PA,3P%,2P,2PA,...,TRB,AST,STL,BLK,TOV,PTS,eFGP,PER,WS,Position
0,Alex Abrines,17.2,2.4,5.2,0.463,1.4,3.3,0.423,1.0,2.0,...,1.7,0.8,0.6,0.3,0.6,7.3,0,0,0,Forward
1,Alexis Ajinca,19.9,4.5,8.2,0.544,0.2,0.6,0.293,4.3,7.6,...,5.2,1.0,0.7,1.4,2.2,11.7,0,0,0,Center
2,Axel Toupane,17.1,2.1,4.6,0.464,0.7,2.0,0.353,1.4,2.6,...,2.2,0.9,0.8,0.1,0.7,5.7,0,0,0,Forward
3,Bismack Biyombo,17.1,2.3,4.1,0.552,0.0,0.0,0.000,2.3,4.1,...,5.1,0.3,0.4,2.3,1.7,6.4,0,0,0,Forward
4,Bojan Bogdanovic,5.6,0.1,1.0,0.143,0.1,1.0,0.143,0.0,0.0,...,0.4,0.1,0.3,0.0,0.4,1.0,0,0,0,Center

In [166]:
college_inter = college.set_index('Player').combine_first(inter.set_index('Player'))
college_inter.head()

,2P,2PA,2PP,3P,3P%,3PA,AST,BLK,DRB,FG,...,PTS,Position,SOS,STL,School,TOV,TRB,WS,eFGP,year
Player,,,,,,,,,,,,,,,,,,,,,
A.J. Hammons,4.6,8.4,0.544,0.0,0.261,0.2,0.8,2.6,4.7,4.6,...,12.1,Center,7.64,0.4,Purdue,2.1,7.0,13.8,54.1,2017.0
A.J. Price,2.7,6.1,0.447,1.6,0.365,4.4,4.7,0.1,2.6,4.3,...,13.0,Guard,7.14,1.1,UConn,2.4,3.4,10.3,48.9,2010.0
Aaron Gordon,4.6,8.9,0.513,0.4,0.356,1.2,2.0,1.0,5.3,5.0,...,12.4,Forward,9.04,0.9,Arizona,1.4,8.0,5.4,51.6,2015.0
Aaron Harrison,2.5,5.3,0.474,1.5,0.335,4.6,1.6,0.2,2.3,4.1,...,12.4,Guard,9.28,1.1,Kentucky,1.3,2.8,10.2,48.7,2016.0
Aaron Holiday,2.9,6.2,0.469,1.8,0.422,4.2,4.7,0.2,2.7,4.7,...,14.3,Guard,7.65,1.2,UCLA,3.0,3.2,9.8,53.5,2019.0

In [167]:
college_inter.columns

Index(['2P', '2PA', '2PP', '3P', '3P%', '3PA', 'AST', 'BLK', 'DRB', 'FG',
       'FGA', 'FGP', 'FT', 'FTA', 'FTP', 'G', 'GS', 'MP', 'ORB', 'PER', 'PTS',
       'Position', 'SOS', 'STL', 'School', 'TOV', 'TRB', 'WS', 'eFGP', 'year'],
      dtype='object')

In [168]:
nba.head()

,year,Player,Age,NBA_G,NBA_FGP,NBA_3PP,NBA_FTP,NBA_PTS,NBA_TRB,NBA_AST,NBA_STL,NBA_BLK,NBA_TOV
0,2019,Jaylen Adams,22,34,0.345,0.338,0.778,3.2,1.8,1.9,0.411765,0.147059,0.823529
1,2019,Deng Adel,21,19,0.306,0.261,1.000,1.7,1.0,0.3,0.052632,0.210526,0.315789
2,2019,DeVaughn Akoon-Purcell,25,7,0.300,0.000,0.500,1.0,0.6,0.9,0.285714,0.000000,0.285714
3,2019,Rawle Alkins,21,10,0.333,0.250,0.667,3.7,2.6,1.3,0.100000,0.000000,0.800000
4,2019,Grayson Allen,23,38,0.376,0.323,0.750,5.6,0.6,0.7,0.157895,0.157895,0.868421

In [169]:
college_inter.head()

,2P,2PA,2PP,3P,3P%,3PA,AST,BLK,DRB,FG,...,PTS,Position,SOS,STL,School,TOV,TRB,WS,eFGP,year
Player,,,,,,,,,,,,,,,,,,,,,
A.J. Hammons,4.6,8.4,0.544,0.0,0.261,0.2,0.8,2.6,4.7,4.6,...,12.1,Center,7.64,0.4,Purdue,2.1,7.0,13.8,54.1,2017.0
A.J. Price,2.7,6.1,0.447,1.6,0.365,4.4,4.7,0.1,2.6,4.3,...,13.0,Guard,7.14,1.1,UConn,2.4,3.4,10.3,48.9,2010.0
Aaron Gordon,4.6,8.9,0.513,0.4,0.356,1.2,2.0,1.0,5.3,5.0,...,12.4,Forward,9.04,0.9,Arizona,1.4,8.0,5.4,51.6,2015.0
Aaron Harrison,2.5,5.3,0.474,1.5,0.335,4.6,1.6,0.2,2.3,4.1,...,12.4,Guard,9.28,1.1,Kentucky,1.3,2.8,10.2,48.7,2016.0
Aaron Holiday,2.9,6.2,0.469,1.8,0.422,4.2,4.7,0.2,2.7,4.7,...,14.3,Guard,7.65,1.2,UCLA,3.0,3.2,9.8,53.5,2019.0

In [187]:
final = nba.merge(college_inter,how = 'left',left_on = 'Player', right_index = True)
final.head()

,year_x,Player,Age,NBA_G,NBA_FGP,NBA_3PP,NBA_FTP,NBA_PTS,NBA_TRB,NBA_AST,...,PTS,Position,SOS,STL,School,TOV,TRB,WS,eFGP,year_y
0,2019,Jaylen Adams,22,34,0.345,0.338,0.778,3.2,1.8,1.9,...,17.4,Guard,1.82,1.5,St. Bonaventure,2.9,3.4,17.7,53.5,2019.0
1,2019,Deng Adel,21,19,0.306,0.261,1.000,1.7,1.0,0.3,...,11.2,Forward,9.32,0.5,Louisville,1.7,4.1,8.0,50.1,2019.0
2,2019,DeVaughn Akoon-Purcell,25,7,0.300,0.000,0.500,1.0,0.6,0.9,...,13.5,Guard,2.73,1.0,Illinois State,2.3,5.3,5.7,46.7,2019.0
3,2019,Rawle Alkins,21,10,0.333,0.250,0.667,3.7,2.6,1.3,...,11.8,Guard,7.24,1.0,Arizona,2.1,4.9,6.3,52.1,2019.0
4,2019,Grayson Allen,23,38,0.376,0.323,0.750,5.6,0.6,0.7,...,14.1,Guard,10.27,1.0,Duke,1.7,3.2,18.8,53.3,2019.0

In [188]:
final.columns

Index(['year_x', 'Player', 'Age', 'NBA_G', 'NBA_FGP', 'NBA_3PP', 'NBA_FTP',
       'NBA_PTS', 'NBA_TRB', 'NBA_AST', 'NBA_STL', 'NBA_BLK', 'NBA_TOV', '2P',
       '2PA', '2PP', '3P', '3P%', '3PA', 'AST', 'BLK', 'DRB', 'FG', 'FGA',
       'FGP', 'FT', 'FTA', 'FTP', 'G', 'GS', 'MP', 'ORB', 'PER', 'PTS',
       'Position', 'SOS', 'STL', 'School', 'TOV', 'TRB', 'WS', 'eFGP',
       'year_y'],
      dtype='object')

In [189]:
final = final[['year_x', 'Player','Position', 'Age','G', 'GS', 'MP','FG', 'FGA',
       'FGP','2P','2PA', '2PP', '3P', '3PA', '3P%','FT', 'FTA', 'FTP','ORB', 'DRB','TRB','AST','STL','BLK'
        ,'TOV','PTS', 'SOS','PER','eFGP','WS','NBA_G', 'NBA_FGP', 'NBA_3PP', 'NBA_FTP',
       'NBA_PTS', 'NBA_TRB', 'NBA_AST', 'NBA_STL', 'NBA_BLK', 'NBA_TOV']]
final.head()

,year_x,Player,Position,Age,G,GS,MP,FG,FGA,FGP,...,NBA_G,NBA_FGP,NBA_3PP,NBA_FTP,NBA_PTS,NBA_TRB,NBA_AST,NBA_STL,NBA_BLK,NBA_TOV
0,2019,Jaylen Adams,Guard,22,110.0,108.0,36.3,4.8,11.3,0.427,...,34,0.345,0.338,0.778,3.2,1.8,1.9,0.411765,0.147059,0.823529
1,2019,Deng Adel,Forward,21,89.0,71.0,26.8,3.9,9.0,0.438,...,19,0.306,0.261,1.000,1.7,1.0,0.3,0.052632,0.210526,0.315789
2,2019,DeVaughn Akoon-Purcell,Guard,25,60.0,48.0,27.2,4.6,10.7,0.428,...,7,0.300,0.000,0.500,1.0,0.6,0.9,0.285714,0.000000,0.285714
3,2019,Rawle Alkins,Guard,21,60.0,57.0,29.3,4.0,9.0,0.450,...,10,0.333,0.250,0.667,3.7,2.6,1.3,0.100000,0.000000,0.800000
4,2019,Grayson Allen,Guard,23,142.0,97.0,27.9,4.3,9.9,0.430,...,38,0.376,0.323,0.750,5.6,0.6,0.7,0.157895,0.157895,0.868421

In [177]:
final.isnull().sum()

year_x       0
Player       0
Age          0
G          155
GS         155
MP          85
FG          85
FGA         85
FGP         85
2P          85
2PA         85
2PP         85
3P          85
3PA         85
3P%         85
FT          85
FTA         85
FTP         87
ORB         85
DRB         85
TRB         85
AST         85
STL         85
BLK         85
TOV         85
PTS         85
SOS        155
NBA_G        0
NBA_FGP      0
NBA_3PP      0
NBA_FTP      0
NBA_PTS      0
NBA_TRB      0
NBA_AST      0
NBA_STL      0
NBA_BLK      0
NBA_TOV      0
dtype: int64

In [173]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 982 entries, 0 to 891
Data columns (total 43 columns):
year_x      982 non-null int64
Player      982 non-null object
Age         982 non-null int64
NBA_G       982 non-null int64
NBA_FGP     982 non-null float64
NBA_3PP     982 non-null float64
NBA_FTP     982 non-null float64
NBA_PTS     982 non-null float64
NBA_TRB     982 non-null float64
NBA_AST     982 non-null float64
NBA_STL     982 non-null float64
NBA_BLK     982 non-null float64
NBA_TOV     982 non-null float64
2P          897 non-null float64
2PA         897 non-null float64
2PP         897 non-null float64
3P          897 non-null float64
3P%         897 non-null float64
3PA         897 non-null float64
AST         897 non-null float64
BLK         897 non-null float64
DRB         897 non-null float64
FG          897 non-null float64
FGA         897 non-null float64
FGP         897 non-null float64
FT          897 non-null float64
FTA         897 non-null float64
FTP         895 non-null float64
G           827 non-null float64
GS          827 non-null float64
MP          897 non-null float64
ORB         897 non-null float64
PER         897 non-null float64
PTS         897 non-null float64
Position    876 non-null object
SOS         827 non-null float64
STL         897 non-null float64
School      827 non-null object
TOV         897 non-null float64
TRB         897 non-null float64
WS          897 non-null float64
eFGP        897 non-null float64
year_y      827 non-null float64
dtypes: float64(37), int64(3), object(3)
memory usage: 337.6+ KB

In [ ]:
final.isnull().sum()

In [190]:
final.to_csv('final.csv',index = False)

### Manually fill in unscraped data

In [194]:
finalv2 = pd.read_csv('C:\\Users\\Chung-Tseng Wang\\Desktop\\NBA-Rookie-Stat-Predictions\\data\\processed\\final_draft.csv')
finalv2.head()

,year,Player,Position,Age,G,GS,MP,FG,FGA,FGP,...,NBA_G,NBA_FGP,NBA_3PP,NBA_FTP,NBA_PTS,NBA_TRB,NBA_AST,NBA_STL,NBA_BLK,NBA_TOV
0,2019,Jaylen Adams,Guard,22,110.0,108.0,36.3,4.8,11.3,0.427,...,34,0.345,0.338,0.778,3.2,1.8,1.9,0.411765,0.147059,0.823529
1,2019,Deng Adel,Forward,21,89.0,71.0,26.8,3.9,9.0,0.438,...,19,0.306,0.261,1.000,1.7,1.0,0.3,0.052632,0.210526,0.315789
2,2019,DeVaughn Akoon-Purcell,Guard,25,60.0,48.0,27.2,4.6,10.7,0.428,...,7,0.300,0.000,0.500,1.0,0.6,0.9,0.285714,0.000000,0.285714
3,2019,Rawle Alkins,Guard,21,60.0,57.0,29.3,4.0,9.0,0.450,...,10,0.333,0.250,0.667,3.7,2.6,1.3,0.100000,0.000000,0.800000
4,2019,Grayson Allen,Guard,23,142.0,97.0,27.9,4.3,9.9,0.430,...,38,0.376,0.323,0.750,5.6,0.6,0.7,0.157895,0.157895,0.868421

In [196]:
finalv2.columns

Index(['year', 'Player', 'Position', 'Age', 'G', 'GS', 'MP', 'FG', 'FGA',
       'FGP', '2P', '2PA', '2PP', '3P', '3PA', '3P%', 'FT', 'FTA', 'FTP',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PTS', 'SOS', 'PER',
       'eFGP', 'WS', 'NBA_G', 'NBA_FGP', 'NBA_3PP', 'NBA_FTP', 'NBA_PTS',
       'NBA_TRB', 'NBA_AST', 'NBA_STL', 'NBA_BLK', 'NBA_TOV'],
      dtype='object')

In [197]:
finalv2['Position'] = finalv2['Position'].fillna('N/A')
null_list = ['G', 'GS', 'MP', 'FG', 'FGA',
       'FGP', '2P', '2PA', '2PP', '3P', '3PA', '3P%', 'FT', 'FTA', 'FTP',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PTS', 'SOS', 'PER',
       'eFGP', 'WS']
for n in null_list:
    finalv2[n] = finalv2[n].fillna(finalv2[n].mean())
finalv2.isnull().sum()

year        0
Player      0
Position    0
Age         0
G           0
GS          0
MP          0
FG          0
FGA         0
FGP         0
2P          0
2PA         0
2PP         0
3P          0
3PA         0
3P%         0
FT          0
FTA         0
FTP         0
ORB         0
DRB         0
TRB         0
AST         0
STL         0
BLK         0
TOV         0
PTS         0
SOS         0
PER         0
eFGP        0
WS          0
NBA_G       0
NBA_FGP     0
NBA_3PP     0
NBA_FTP     0
NBA_PTS     0
NBA_TRB     0
NBA_AST     0
NBA_STL     0
NBA_BLK     0
NBA_TOV     0
dtype: int64

In [198]:
finalv2.to_csv('final.csv')