Scraping College Stats

In [163]:
import pandas as pd
import numpy as np
import requests
import lxml.html as lh
from bs4 import BeautifulSoup
import re

In [164]:
file = '//Users//chung-tsengwang//Desktop//Github Repo//Predicting-NBA-Rookie-Stats//data//processed//processed_nba.csv'
nba = pd.read_csv(file)
nba.head()

,Unnamed: 0,year,Player,Age,NBA_G,NBA_FGP,NBA_3PP,NBA_FTP,NBA_PTS,NBA_TRB,NBA_AST,NBA_STL,NBA_BLK,NBA_TOV
0,0,2019,Jaylen Adams,22,34,0.345,0.338,0.778,3.2,1.8,1.9,0.411765,0.147059,0.823529
1,1,2019,Deng Adel,21,19,0.306,0.261,1.000,1.7,1.0,0.3,0.052632,0.210526,0.315789
2,2,2019,DeVaughn Akoon-Purcell,25,7,0.300,0.000,0.500,1.0,0.6,0.9,0.285714,0.000000,0.285714
3,3,2019,Rawle Alkins,21,10,0.333,0.250,0.667,3.7,2.6,1.3,0.100000,0.000000,0.800000
4,4,2019,Grayson Allen,23,38,0.376,0.323,0.750,5.6,0.6,0.7,0.157895,0.157895,0.868421

In [165]:
players_list = nba['Player'].values
len(players_list)

892

In [166]:
data = []
for player in players_list:
    url_name = player
    player = player.lower()
    player = player.replace('.','')
    player = player.replace("'",'')
    player = player.replace(' ','-')
    website_url = requests.get('https://www.sports-reference.com/cbb/players/'+ player +'-1.html')
    soup = BeautifulSoup(website_url.content,'lxml')
    table = soup.find('table',{'id':'players_per_game'})
    if table is not None:
        data = data + [url_name]
        box = table.findAll('td')
        box_list = []
        for n in box:
            box_list.append(n.get_text())
        data = data + box_list[-28:]

In [167]:
transformed = np.reshape(np.array(data),(-1,29))

In [168]:
#To get column headers
headers = ['Player','School','Conf','G','GS','MP','FG','FGA','FGP','2P','2PA','2PP','3P','3PA','3P%','FT','FTA','FTP','ORB','DRB','TRB','AST','STL','BLK','TOV','PF','PTS','nan','SOS']
college = pd.DataFrame(transformed, columns = headers)
college = college.drop(['Conf','nan','PF'], axis = 1)
college.head()

,Player,School,G,GS,MP,FG,FGA,FGP,2P,2PA,...,FTP,ORB,DRB,TRB,AST,STL,BLK,TOV,PTS,SOS
0,Jaylen Adams,St. Bonaventure,110,108,36.3,4.8,11.3,.427,2.4,5.1,...,.838,0.5,2.8,3.4,5.4,1.5,0.2,2.9,17.4,1.82
1,Deng Adel,Louisville,89,71,26.8,3.9,9.0,.438,2.8,5.7,...,.776,0.6,3.5,4.1,2.0,0.5,0.3,1.7,11.2,9.32
2,DeVaughn Akoon-Purcell,Illinois State,60,48,27.2,4.6,10.7,.428,3.8,8.0,...,.739,1.7,3.6,5.3,1.6,1.0,0.3,2.3,13.5,2.73
3,Rawle Alkins,Arizona,60,57,29.3,4.0,9.0,.450,2.8,5.5,...,.729,1.7,3.2,4.9,2.2,1.0,0.6,2.1,11.8,7.24
4,Grayson Allen,Duke,142,97,27.9,4.3,9.9,.430,2.2,4.5,...,.834,0.5,2.6,3.2,3.0,1.0,0.1,1.7,14.1,10.27

In [169]:
college.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 743 entries, 0 to 742
Data columns (total 26 columns):
Player    743 non-null object
School    743 non-null object
G         743 non-null object
GS        743 non-null object
MP        743 non-null object
FG        743 non-null object
FGA       743 non-null object
FGP       743 non-null object
2P        743 non-null object
2PA       743 non-null object
2PP       743 non-null object
3P        743 non-null object
3PA       743 non-null object
3P%       743 non-null object
FT        743 non-null object
FTA       743 non-null object
FTP       743 non-null object
ORB       743 non-null object
DRB       743 non-null object
TRB       743 non-null object
AST       743 non-null object
STL       743 non-null object
BLK       743 non-null object
TOV       743 non-null object
PTS       743 non-null object
SOS       743 non-null object
dtypes: object(26)
memory usage: 151.0+ KB

In [170]:
college.describe()

,Player,School,G,GS,MP,FG,FGA,FGP,2P,2PA,...,FTP,ORB,DRB,TRB,AST,STL,BLK,TOV,PTS,SOS
count,743,743,743,743,743,743,743,743,743,743,...,743,743,743,743,743,743,743,743,743,743
unique,740,191,139,140,218,87,151,248,78,123,...,315,46,83,110,70,30,39,45,188,465
top,Chris Wright,Kentucky,35,35,,5.0,8.2,.450,3.0,5.9,...,.733,0.5,3.0,4.8,1.5,0.8,0.1,1.5,14.1,
freq,2,37,19,20,13,27,18,14,28,18,...,9,48,41,23,35,63,95,52,13,66

In [171]:
college.to_csv('raw_college.csv', index = False)

In [172]:
file2 = '//Users//chung-tsengwang//Desktop//Github Repo//Predicting-NBA-Rookie-Stats//data//EDA datasets//2020_college_fullset.csv'
college_2020 = pd.read_csv(file2)
college_2020['year'] = 2020
college_2020.head()

,Player,School,G,GS,MP,FG,FGA,FGP,2P,2PA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,SOS,year
0,Zion Williamson,Duke,33,33,30.0,9.0,13.2,0.680,8.2,11.0,...,5.4,8.9,2.1,2.1,1.8,2.4,2.1,22.6,11.97,2020
1,RJ Barrett,Duke,38,38,35.3,8.4,18.5,0.454,6.5,12.2,...,6.0,7.6,4.3,0.9,0.4,3.2,1.8,22.6,11.97,2020
2,De'Andre Hunter,Virginia,71,38,26.6,4.4,8.5,0.509,3.4,6.3,...,3.1,4.4,1.6,0.6,0.5,1.2,1.9,12.4,9.61,2020
3,Darius Garland,Vanderbilt,5,5,27.8,5.8,10.8,0.537,3.6,6.2,...,3.4,3.8,2.6,0.8,0.4,3.0,1.4,16.2,7.79,2020
4,Jarrett Culver,Texas Tech,75,58,29.5,5.3,11.6,0.459,3.9,7.5,...,4.4,5.6,2.8,1.3,0.6,2.1,2.0,14.9,9.56,2020

In [173]:
nba_years = pd.DataFrame(nba[['Player','year']])
nba_years.head()

                   Player  year
0            Jaylen Adams  2019
1               Deng Adel  2019
2  DeVaughn Akoon-Purcell  2019
3            Rawle Alkins  2019
4           Grayson Allen  2019

In [174]:
full_college_stats = college.merge(nba_years,how = 'left', on = 'Player')
full_college_stats.head()

,Player,School,G,GS,MP,FG,FGA,FGP,2P,2PA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PTS,SOS,year
0,Jaylen Adams,St. Bonaventure,110,108,36.3,4.8,11.3,.427,2.4,5.1,...,0.5,2.8,3.4,5.4,1.5,0.2,2.9,17.4,1.82,2019
1,Deng Adel,Louisville,89,71,26.8,3.9,9.0,.438,2.8,5.7,...,0.6,3.5,4.1,2.0,0.5,0.3,1.7,11.2,9.32,2019
2,DeVaughn Akoon-Purcell,Illinois State,60,48,27.2,4.6,10.7,.428,3.8,8.0,...,1.7,3.6,5.3,1.6,1.0,0.3,2.3,13.5,2.73,2019
3,Rawle Alkins,Arizona,60,57,29.3,4.0,9.0,.450,2.8,5.5,...,1.7,3.2,4.9,2.2,1.0,0.6,2.1,11.8,7.24,2019
4,Grayson Allen,Duke,142,97,27.9,4.3,9.9,.430,2.2,4.5,...,0.5,2.6,3.2,3.0,1.0,0.1,1.7,14.1,10.27,2019

In [175]:
full_college_stats = full_college_stats.append(college_2020, ignore_index = True)
full_stats_2020 = full_college_stats[full_college_stats['year'] == 2020]
full_stats_2020.head()

,2P,2PA,2PP,3P,3P%,3PA,AST,BLK,DRB,FG,...,ORB,PF,PTS,Player,SOS,STL,School,TOV,TRB,year
749,8.2,11,0.747,0.7,0.338,2.2,2.1,1.8,5.4,9,...,3.5,2.1,22.6,Zion Williamson,11.97,2.1,Duke,2.4,8.9,2020
750,6.5,12.2,0.529,1.9,0.308,6.2,4.3,0.4,6,8.4,...,1.6,1.8,22.6,RJ Barrett,11.97,0.9,Duke,3.2,7.6,2020
751,3.4,6.3,0.541,0.9,0.419,2.3,1.6,0.5,3.1,4.4,...,1.3,1.9,12.4,De'Andre Hunter,9.61,0.6,Virginia,1.2,4.4,2020
752,3.6,6.2,0.581,2.2,0.478,4.6,2.6,0.4,3.4,5.8,...,0.4,1.4,16.2,Darius Garland,7.79,0.8,Vanderbilt,3,3.8,2020
753,3.9,7.5,0.522,1.4,0.341,4.1,2.8,0.6,4.4,5.3,...,1.2,2.0,14.9,Jarrett Culver,9.56,1.3,Texas Tech,2.1,5.6,2020

In [176]:
full_college_stats.to_csv('full_college_stats.csv',index = False)

### Scraping advance stats

In [177]:
players_list = full_college_stats['Player'].values

In [178]:
data = []
for player in players_list:
    url_name = player
    player = player.lower()
    player = player.replace('.','')
    player = player.replace("'",'')
    player = player.replace(' ','-')
    website_url = requests.get('https://www.sports-reference.com/cbb/players/'+ player +'-1.html')
    soup = BeautifulSoup(website_url.content,'lxml')
    #Position 
    div = soup.find_all('div',{'class' : 'nothumb'})
    for x in div:
        ad = x.find_all('p')
        position = (ad[0].text.replace('Position:', "").strip())
    #eFG%
    div2 = soup.find_all('div',{'class' : 'p2'})
    for x in div2:
        ad = x.find_all('p')
        eFG = ad[-1].text
    #PER and WS
    div3 = soup.find_all('div',{'class' : 'p3'})
    for x in div3:
        ad = x.find_all('div')
        if len(ad) >= 1: 
            aPER = ad[0].find_all('p')
            aWS = ad[-1].find_all('p')
            PER = []
            for n in aPER:
                PER.append(n.text)
            WS = []
            for n in aWS:
                WS.append(n.text)
            cPER = PER[-1]
            cWS = WS[-1]
        else:
            cPER = 0
            cWS = 0
    data = data + [url_name] + [position] + [eFG] + [cPER] + [cWS]

In [179]:
transformed2 = np.reshape(np.array(data),(-1,5))

In [180]:
headers = ['Player','Position','eFGP','PER','WS']
advance = pd.DataFrame(transformed2, columns = headers)
advance.head()

                   Player Position  eFGP   PER    WS
0            Jaylen Adams    Guard  53.5  21.5  17.7
1               Deng Adel  Forward  50.1  16.2   8.0
2  DeVaughn Akoon-Purcell    Guard  46.7  19.7   5.7
3            Rawle Alkins    Guard  52.1  18.0   6.3
4           Grayson Allen    Guard  53.3  21.4  18.8

In [181]:
full_college_stats = full_college_stats.merge(advance, on = 'Player', how = 'left')
full_college_stats[full_college_stats['year'] == 2020].head()

,2P,2PA,2PP,3P,3P%,3PA,AST,BLK,DRB,FG,...,SOS,STL,School,TOV,TRB,year,Position,eFGP,PER,WS
785,8.2,11,0.747,0.7,0.338,2.2,2.1,1.8,5.4,9,...,11.97,2.1,Duke,2.4,8.9,2020,Forward,70.8,40.8,8.3
786,6.5,12.2,0.529,1.9,0.308,6.2,4.3,0.4,6,8.4,...,11.97,0.9,Duke,3.2,7.6,2020,Forward,50.6,23.3,6.5
787,3.4,6.3,0.541,0.9,0.419,2.3,1.6,0.5,3.1,4.4,...,9.61,0.6,Virginia,1.2,4.4,2020,Guard,56.4,24.0,11.0
788,3.6,6.2,0.581,2.2,0.478,4.6,2.6,0.4,3.4,5.8,...,7.79,0.8,Vanderbilt,3,3.8,2020,Guard,63.9,23.6,0.5
789,3.9,7.5,0.522,1.4,0.341,4.1,2.8,0.6,4.4,5.3,...,9.56,1.3,Texas Tech,2.1,5.6,2020,Guard,51.8,22.4,11.0

In [185]:
college_stats_2020 = full_college_stats[full_college_stats['year'] == 2020]
past_college_stats = full_college_stats[full_college_stats['year'] != 2020]
full_college_stats.to_csv('combined_college_stats.csv')
college_stats_2020.to_csv('2020_college_stats.csv')
past_college_stats.to_csv('past_college_stats.csv')