Scraping International Player Stats

In [1]:
import pandas as pd
import numpy as np
import requests
import lxml.html as lh
from bs4 import BeautifulSoup

In [2]:
file = 'C:\\Users\\Chung-Tseng Wang\\Desktop\\Github Repo\\Predicting-NBA-Rookie-Stats\\data\\processed\\final_training_set.csv'
nba = pd.read_csv(file, index_col = 'Player')
nba.head()

,index,year,Age,NBA_G,NBA_FGP,NBA_3PP,NBA_FTP,NBA_PTS,NBA_TRB,NBA_AST,...,c_FGP,c_3PP,c_FTP,c_TRB,c_AST,c_STL,c_BLK,c_TOV,c_PTS,Nat
Player,,,,,,,,,,,,,,,,,,,,,
Jaylen Adams,0,2019,22,34,0.345,0.338,0.778,3.2,1.8,1.9,...,0.427,0.394,0.838,3.4,5.4,1.5,0.2,2.9,17.4,D
Deng Adel,1,2019,21,19,0.306,0.261,1.000,1.7,1.0,0.3,...,0.438,0.348,0.776,4.1,2.0,0.5,0.3,1.7,11.2,D
DeVaughn Akoon-Purcell,2,2019,25,7,0.300,0.000,0.500,1.0,0.6,0.9,...,0.428,0.301,0.739,5.3,1.6,1.0,0.3,2.3,13.5,D
Rawle Alkins,3,2019,21,10,0.333,0.250,0.667,3.7,2.6,1.3,...,0.450,0.365,0.729,4.9,2.2,1.0,0.6,2.1,11.8,D
Grayson Allen,4,2019,23,38,0.376,0.323,0.750,5.6,0.6,0.7,...,0.430,0.380,0.834,3.2,3.0,1.0,0.1,1.7,14.1,D

In [7]:
players_list = nba[nba['School'].isnull()].index.values
len(players_list)

160

In [35]:
players_list

array(['Marvin Bagley', 'Dairis Bertans', 'Isaac Bonga', 'Mitch Creek',
       'Angel Delgado', 'Luka Doncic', 'Isaiah Hartenstein',
       'Haywood Highsmith', 'Rodions Kurucs', 'Shake Milton',
       'Dzanan Musa', 'Elie Okobo', 'Mitchell Robinson',
       'Anfernee Simons', 'Ray Spalding', 'Emanuel Terry',
       'Lonnie Walker', 'Bam Adebayo', 'Bogdan Bogdanovic',
       'Terrance Ferguson', 'Maxi Kleber', 'Furkan Korkmaz', 'Walt Lemon',
       'Josh Magette', 'Naz Mitrou-Long', 'Jaylen Morris',
       'Frank Ntilikina', 'Cedi Osman', 'Zhou Qi', 'Milos Teodosic',
       'Daniel Theis', 'Andrew White', 'Guerschon Yabusele', 'Ante Zizic',
       'Alex Abrines', 'Dragan Bender', 'Davis Bertans',
       'Nicolas Brussino', 'Kay Felder', 'Yogi Ferrell',
       'Juan Hernangomez', 'Willy Hernangomez', 'Mindaugas Kuzminskas',
       'Nicolas Laprovittola', 'Timothe Luwawu-Cabarrot', 'Sheldon Mac',
       'Thon Maker', 'Georgios Papagiannis', 'Dario Saric',
       'Tomas Satoransky', 'Fred VanVleet', 'Taurean Waller-Prince',
       'Stephen Zimmerman', 'Paul Zipser', 'Ivica Zubac',
       'Thanasis Antetokounmpo', 'Nemanja Bjelica', 'Bryce Dejean-Jones',
       'Cristiano Felicio', 'Mario Hezonja', 'Marcelo Huertas',
       'Damien Inglis', 'Nikola Jokic', 'Boban Marjanovic', 'Salah Mejri',
       'Luis Montero', 'Emmanuel Mudiay', 'Larry Nance', 'Raul Neto',
       'Tibor Pleiss', 'Kristaps Porzingis', 'Edy Tavares',
       'Axel Toupane', 'Furkan Aldemir', 'Kyle Anderson',
       'Bojan Bogdanovic', 'Bruno Caboclo', 'Clint Capela',
       'Zoran Dragic', 'Larry Drew', 'Dante Exum', 'Joe Ingles',
       'Joffrey Lauvergne', 'Devyn Marble', 'Nikola Mirotic',
       'Lucas Nogueira', 'Jusuf Nurkic', 'Kostas Papanikolaou',
       'Damjan Rudez', 'Giannis Antetokounmpo', 'Pero Antic',
       'Luigi Datome', 'Vitor Faverani', 'Rudy Gobert', 'Jorge Gutierrez',
       'Sergey Karasev', 'Ognjen Kuzmic', 'Ricky Ledo', 'Ray McCallum',
       'Nemanja Nedovic', 'Miroslav Raduljica', 'Dennis Schroder',
       'Victor Claver', 'Nando De Colo', 'Evan Fournier', 'Joel Freeland',
       'Bernard James', 'Viacheslav Kravtsov', 'Donatas Motiejunas',
       'Tim Ohlbrecht', 'Pablo Prigioni', 'Thomas Robinson',
       'Tornike Shengelia', 'Alexey Shved', 'Mirza Teletovic',
       'Jonas Valanciunas', 'Gustavo Ayon', 'Bismack Biyombo',
       'Eric Dawson', 'Enes Kanter', 'Ricky Rubio', 'Walker Russell',
       'Jeremy Tyler', 'Jan Vesely', 'Nikola Vucevic', 'Omer Asik',
       'Semih Erden', 'Patrick Ewing', 'Christian Eyenga', 'Eugene Jeter',
       'Timofey Mozgov', 'Nikola Pekovic', 'Kevin Seraphin',
       'Garret Siler', 'Ish Smith', 'Tiago Splitter', 'Pape Sy',
       'Greivis Vasquez', 'David Andersen', 'Jeff Ayres',
       'Rodrigue Beaubois', 'Omri Casspi', 'Gerald Henderson',
       'Serge Ibaka', 'Jonas Jerebko', 'Patty Mills', 'Byron Mullens',
       'Alexis Ajinca', 'Nicolas Batum', 'Goran Dragic', 'Rudy Fernandez',
       'Danilo Gallinari', 'Marc Gasol', 'Donte Greene', 'Hamed Haddadi',
       'Nathan Jawai', 'Luc Mbah a Moute', 'Roko Ukic', 'Henry Walker',
       'Sun Yue'], dtype=object)

In [52]:
data = []
for player in players_list:
    url_name = player
    player = player.lower()
    player = player.replace('.','')
    player = player.replace("'",'')
    player = player.replace(' ','-')
    website_url = requests.get('https://www.basketball-reference.com/international/players/'+ player +'-1.html')
    soup = BeautifulSoup(website_url.content,'lxml')
    table = soup.find('table',{'id':'per_game-clu-reg'})
    if table is not None:
        data = data + [url_name]
        stats = table.findAll('td')
        elements = []
        for n in stats:
            elements.append(n.get_text())
        data = data + elements[-22:]

In [53]:
transformed = np.reshape(np.array(data),(-1,23))

In [88]:
#To get column headers
headers = ['Player','MP','FG','FGA','FG%','3P','3PA','3P%','2P','2PA','2P%','FT','FTA','FT%','ORB','DRB','TRB','AST','STL','BLK','TOV','PF','PTS']
inter = pd.DataFrame(transformed, columns = headers)
inter = inter.drop(['MP','FG','FGA','3P','3PA','2P','2PA','2P%','FT','FTA','ORB','DRB','PF'], axis = 1)
inter.index = inter['Player']
inter = inter.drop(['Player'],axis = 1)
inter['3P%'] = inter['3P%'].replace('',0)
inter['FT%'] = inter['FT%'].replace('',0)
inter.head()

                    FG%   3P%   FT%  TRB  AST  STL  BLK  TOV  PTS
Player
Dairis Bertans     .433  .383  .799  1.2  1.3  0.5  0.0  0.9  9.7
Luka Doncic        .473  .320  .766  4.1  3.2  0.7  0.4  1.8  8.1
Rodions Kurucs     .462  .286     0  0.5  0.3  0.8  0.3  0.5  2.3
Elie Okobo         .464  .385  .823  2.3  3.3  0.7  0.2  1.8  9.1
Terrance Ferguson  .378  .317  .611  1.2  0.7  0.3  0.3  1.0  4.7

In [89]:
inter.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81 entries, Dairis Bertans to Roko Ukic
Data columns (total 9 columns):
FG%    81 non-null object
3P%    81 non-null object
FT%    81 non-null object
TRB    81 non-null object
AST    81 non-null object
STL    81 non-null object
BLK    81 non-null object
TOV    81 non-null object
PTS    81 non-null object
dtypes: object(9)
memory usage: 6.3+ KB

In [95]:
inter.describe()

,FG%,3P%,FT%,TRB,AST,STL,BLK,TOV,PTS
count,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000
mean,0.483642,0.297086,0.736370,3.412346,1.585185,0.779012,0.412346,1.427160,8.627160
std,0.088818,0.125192,0.123629,1.440866,1.232590,0.354512,0.430518,0.523214,3.320505
min,0.143000,0.000000,0.000000,0.400000,0.100000,0.300000,0.000000,0.400000,1.000000
25%,0.443000,0.282000,0.676000,2.300000,0.800000,0.500000,0.100000,1.000000,6.700000
50%,0.463000,0.335000,0.745000,3.500000,1.200000,0.700000,0.300000,1.400000,8.500000
75%,0.538000,0.380000,0.806000,4.400000,2.400000,0.900000,0.500000,1.700000,10.300000
max,0.738000,0.429000,1.000000,7.600000,5.500000,2.000000,2.300000,3.500000,23.500000

In [93]:
for n in list(inter.columns):
    inter[n] = inter[n].astype(float)

In [94]:
inter.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81 entries, Dairis Bertans to Roko Ukic
Data columns (total 9 columns):
FG%    81 non-null float64
3P%    81 non-null float64
FT%    81 non-null float64
TRB    81 non-null float64
AST    81 non-null float64
STL    81 non-null float64
BLK    81 non-null float64
TOV    81 non-null float64
PTS    81 non-null float64
dtypes: float64(9)
memory usage: 6.3+ KB

In [106]:
inter = inter.rename(columns = {'G':'c_G','FG%':'c_FGP','3P%':'c_3PP','FT%':'c_FTP','PTS':'c_PTS','TRB':'c_TRB','AST':'c_AST','STL':'c_STL','BLK':'c_BLK','TOV':'c_TOV'})
inter.head()

,c_FGP,c_3PP,c_FTP,c_TRB,c_AST,c_STL,c_BLK,c_TOV,c_PTS
Player,,,,,,,,,
Dairis Bertans,0.433,0.383,0.799,1.2,1.3,0.5,0.0,0.9,9.7
Luka Doncic,0.473,0.320,0.766,4.1,3.2,0.7,0.4,1.8,8.1
Rodions Kurucs,0.462,0.286,0.000,0.5,0.3,0.8,0.3,0.5,2.3
Elie Okobo,0.464,0.385,0.823,2.3,3.3,0.7,0.2,1.8,9.1
Terrance Ferguson,0.378,0.317,0.611,1.2,0.7,0.3,0.3,1.0,4.7

In [107]:
inter.to_csv('processed_inter.csv', index = True)