Processing Scraped Data

In [1]:
import pandas as pd
import numpy as np

In [33]:
#Import data and remove irrelevant columns
file = 'C:\\Users\\Chung-Tseng Wang\\Desktop\\Github Repo\\Predicting-NBA-Rookie-Stats\\data\\raw\\nba_stats_raw.csv'
raw = pd.read_csv(file, index_col = 'Player')
raw = raw.drop(['Debut','MP','FG','FGA','3P','FT','FTA','ORB','TRB','AST','PF'],axis = 1)
raw.head()

,year,id,Age,Yrs,G,3PA,STL,BLK,TOV,PTS,FG%,3P%,FT%,MP.1,PS/G,TRB/G,AST/G
Player,,,,,,,,,,,,,,,,,
Jaylen Adams,2019,adamsja01,22,1,34,74,14,5,28,108,0.345,0.338,0.778,12.6,3.2,1.8,1.9
Deng Adel,2019,adelde01,21,1,19,23,1,4,6,32,0.306,0.261,1.000,10.2,1.7,1.0,0.3
DeVaughn Akoon-Purcell,2019,akoonde01,25,1,7,4,2,0,2,7,0.300,0.000,0.500,3.1,1.0,0.6,0.9
Rawle Alkins,2019,alkinra01,21,1,10,12,1,0,8,37,0.333,0.250,0.667,12.0,3.7,2.6,1.3
Grayson Allen,2019,allengr01,23,1,38,99,6,6,33,211,0.376,0.323,0.750,10.9,5.6,0.6,0.7

In [35]:
#Calculate steals, blocks, and turnover per game
raw['STL/G'] = raw['STL'] / raw['G']
raw['BLK/G'] = raw['BLK'] / raw['G']
raw['TOV/G'] = raw['TOV'] / raw['G']
raw = raw.drop(['Yrs','3PA','STL','BLK','TOV','PTS','MP.1'], axis = 1)
raw.head()

,year,id,Age,G,FG%,3P%,FT%,PS/G,TRB/G,AST/G,STL/G,BLK/G,TOV/G
Player,,,,,,,,,,,,,
Jaylen Adams,2019,adamsja01,22,34,0.345,0.338,0.778,3.2,1.8,1.9,0.411765,0.147059,0.823529
Deng Adel,2019,adelde01,21,19,0.306,0.261,1.000,1.7,1.0,0.3,0.052632,0.210526,0.315789
DeVaughn Akoon-Purcell,2019,akoonde01,25,7,0.300,0.000,0.500,1.0,0.6,0.9,0.285714,0.000000,0.285714
Rawle Alkins,2019,alkinra01,21,10,0.333,0.250,0.667,3.7,2.6,1.3,0.100000,0.000000,0.800000
Grayson Allen,2019,allengr01,23,38,0.376,0.323,0.750,5.6,0.6,0.7,0.157895,0.157895,0.868421

In [51]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 892 entries, Jaylen Adams to Sun Yue
Data columns (total 13 columns):
year     892 non-null int64
id       892 non-null object
Age      892 non-null int64
G        892 non-null int64
FG%      892 non-null float64
3P%      892 non-null float64
FT%      892 non-null float64
PS/G     892 non-null float64
TRB/G    892 non-null float64
AST/G    892 non-null float64
STL/G    892 non-null float64
BLK/G    892 non-null float64
TOV/G    892 non-null float64
dtypes: float64(9), int64(3), object(1)
memory usage: 97.6+ KB

In [38]:
raw.describe()

,year,Age,G,FG%,3P%,FT%,PS/G,TRB/G,AST/G,STL/G,BLK/G,TOV/G
count,892.000000,892.000000,892.000000,885.000000,809.000000,830.000000,892.000000,892.000000,892.000000,892.000000,892.000000,892.000000
mean,2014.576233,22.394619,176.522422,0.424284,0.283958,0.710528,6.112108,2.755942,1.331951,0.502463,0.314686,0.877862
std,3.160115,2.214911,195.737205,0.107532,0.137368,0.150213,4.572743,1.998254,1.324058,0.352847,0.356438,0.643992
min,2009.000000,19.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2012.000000,21.000000,24.750000,0.387000,0.238000,0.644750,2.900000,1.400000,0.500000,0.250000,0.079928,0.440508
50%,2015.000000,22.000000,94.000000,0.429000,0.319000,0.738000,5.100000,2.300000,0.900000,0.435573,0.209730,0.754005
75%,2018.000000,24.000000,270.000000,0.473000,0.359000,0.800000,8.000000,3.600000,1.800000,0.694420,0.431773,1.154541
max,2019.000000,35.000000,821.000000,1.000000,1.000000,1.000000,24.300000,13.700000,9.200000,1.925703,2.439394,4.051157

In [40]:
raw.isna().sum()

year      0
id        0
Age       0
G         0
FG%       7
3P%      83
FT%      62
PS/G      0
TRB/G     0
AST/G     0
STL/G     0
BLK/G     0
TOV/G     0
dtype: int64

In [50]:
raw['FG%'].fillna((raw['FG%'].mean()),inplace = True)
raw['3P%'].fillna((raw['FG%'].mean()),inplace = True)
raw['FT%'].fillna((raw['FG%'].mean()),inplace = True)
raw.head()

,year,id,Age,G,FG%,3P%,FT%,PS/G,TRB/G,AST/G,STL/G,BLK/G,TOV/G
Player,,,,,,,,,,,,,
Jaylen Adams,2019,adamsja01,22,34,0.345,0.338,0.778,3.2,1.8,1.9,0.411765,0.147059,0.823529
Deng Adel,2019,adelde01,21,19,0.306,0.261,1.000,1.7,1.0,0.3,0.052632,0.210526,0.315789
DeVaughn Akoon-Purcell,2019,akoonde01,25,7,0.300,0.000,0.500,1.0,0.6,0.9,0.285714,0.000000,0.285714
Rawle Alkins,2019,alkinra01,21,10,0.333,0.250,0.667,3.7,2.6,1.3,0.100000,0.000000,0.800000
Grayson Allen,2019,allengr01,23,38,0.376,0.323,0.750,5.6,0.6,0.7,0.157895,0.157895,0.868421

In [45]:
raw.isna().sum()

year     0
id       0
Age      0
G        0
FG%      0
3P%      0
FT%      0
PS/G     0
TRB/G    0
AST/G    0
STL/G    0
BLK/G    0
TOV/G    0
dtype: int64

In [53]:
raw.to_csv('processed_nba.csv',index =False)